[project]
	description = R&D with gerrithub code review
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Siddharth2802
[access "refs/for/refs/*"]
	read = group user/Siddharth2802
	push = group user/Siddharth2802
	label-Code-Review = -2..+2 group user/Siddharth2802
	label-Verified = -1..+1 group user/Siddharth2802
	rebase = group user/Siddharth2802
	removeReviewer = group user/Siddharth2802
	submit = group user/Siddharth2802
[access "refs/heads/*"]
	read = group user/Siddharth2802
	create = group user/Siddharth2802
	push = +force group user/Siddharth2802
	pushMerge = group user/Siddharth2802
[access "refs/tags/*"]
	push = +force group user/Siddharth2802
	pushTag = group user/Siddharth2802
	pushSignedTag = group user/Siddharth2802
